body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.top-nav-bar {
  display: flex;
  border-bottom: 1px solid #D5D6D6;
}
.top-nav-bar .item {
  padding: 12px 25px;
  border-right: 1px solid #D5D6D6;
  letter-spacing: 1px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(46, 49, 52, 0.8);
  text-transform: uppercase;
  cursor: pointer;
}

.main-nav-bar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  min-width: 760px;
}
.main-nav-bar .absolute {
  position: absolute;
}
.main-nav-bar .ifit-brand-wrap {
  left: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-nav-bar .ifit-brand-wrap .brand-logo {
  width: 80%;
}
.main-nav-bar .main-nav-wrap {
  display: flex;
  color: rgba(46, 49, 52, 0.8);
}
.main-nav-bar .main-nav-wrap .item {
  text-transform: uppercase;
  padding: 0 20px;
  cursor: pointer;
  letter-spacing: 1px;
}
.main-nav-bar .sign-up-btn {
  padding: 8px 12px;
  right: 25px;
  text-transform: uppercase;
  background-color: #0069D2;
  border-radius: 4px;
  color: white;
  letter-spacing: 0.5px;
  box-shadow: 0 1px 2px 0 rgba(46, 49, 52, 0.4);
  line-height: 16px;
  border: none;
}

.hero-section {
  background: #A59D92 url("img/hero-image.png") no-repeat;
  background-size: 100%;
  background-position: center 16%;
  width: 100%;
  padding-bottom: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
.hero-section .darken-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.hero-section .hero-heading {
  font-size: 3.5vw;
  position: absolute;
  top: 34%;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 2px 2px rgba(126, 126, 126, 0.2);
  line-height: 1.2;
  -webkit-animation: focus-in-expand-fwd 1.5s 1s both;
  animation: focus-in-expand-fwd 1.5s 1s both;
}
.hero-section .join-btn {
  color: white;
  background-color: #0069D2;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 4px;
  padding: 1% 8%;
  position: absolute;
  top: 67%;
  cursor: pointer;
  border: none;
  animation: fadeIn 2s 2.5s both;
  -webkit-animation: fadeIn 2s 2.5s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
