$font-gray: rgba(46,49,52,0.80);
$dark-gray: #2E3134;
$light-gray: #D5D6D6;
$ifit-blue: #0069D2;
$default-font: 'Open Sans', sans-serif;

body {
	margin: 0;
	font-family: $default-font;
}

ul {
	list-style: none;
}

// a way to complete task 5c using CSS only:
// .ifit-page {
// 	.header {
// 		position: fixed;
// 		position: sticky;
// 		top: 0;
// 		z-index: 1000;
// 	}
// }

.ifit-page {
	min-width: 320px;
	// overflow: hidden;
}

.header-fixed {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
}

.header-none {
	display: none;
}

.top-nav-bar {
	display: flex;
	border-bottom: 1px solid $light-gray;
	background-color: white;

	.item {
		padding: 12px 25px;
		border-right: 1px solid $light-gray;
		letter-spacing: 1px;
		font-family: Helvetica, sans-serif;
		font-size: 14px;
		color: $font-gray;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.main-nav-bar {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	// font-family: Helvetica, sans-serif;
	font-size: 14px;
	min-width: 760px;
	background-color: white;

	.absolute {
		position: absolute;
	}

	.ifit-brand-wrap {
		left: 25px;
		height: 100%;
		display: flex;
		align-items: center;
		
		.brand-logo {
			width: 80%;
		}
	}

	.main-nav-wrap {
		display: flex;
		color: $font-gray;
		
		.item {
			text-transform: uppercase;
			padding: 0 20px;
			cursor: pointer;
			letter-spacing: 1px;
		}
	}

	.sign-up-btn {
		padding: 8px 12px;
		right: 25px;
		text-transform: uppercase;
		background-color: $ifit-blue;
		border-radius: 4px;
		color: white;
		letter-spacing: 0.5px;
		box-shadow: 0 1px 2px 0 rgba(46,49,52,0.40);
		line-height: 16px;
		border: none;
	}
}

.compact-nav-bar {
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	position: relative;

	img {
		width: 150px;
		margin-right: 25%;
	}

	.menu-btn {
		font-size: 16px;
		color: $font-gray;
	}

	.menu {
		position: absolute;
		top: 100%;
		background-color: white;
		width: 100%;
		left: 0;
		padding: 10px 0 20px;
		box-shadow: 2px 0 5px rgba(46, 49, 52, .12);

		ul {
			list-style: none;

			a {
				text-transform: uppercase;
				padding: 10px 0;
				color: $font-gray;
				font-size: 0.875rem;
				letter-spacing: 0.07em;
				border-bottom: 1px solid rgba(46, 49, 52, .12);
				display: block;
				text-decoration: none;
			}

			hr {
				border-top: 1px solid rgba(46, 49, 52, .12);
				margin: 48px 0 23px;
			}

			.sign-up-btn {
				padding: 8px 12px;
				font-size: 0.875rem;
				letter-spacing: 0.07em;
				margin-top: 20px;
				text-transform: uppercase;
				background-color: $ifit-blue;
				border-radius: 4px;
				color: white;
				border: none;
			}
		}
	}
}

.hero-section {
	background: #A59D92 url("img/hero-image.png") no-repeat;
	background-size: 100%;
	background-position: center 16%;
	width: 100%;
	padding-bottom: 46%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: white;

	&.margin90 {
		margin-top: 90px; // to accommodate fixed header
	}

	&.margin50 {
		margin-top: 50px
	}

	&.taller {
		padding-bottom: 100%;
		background-size: cover;

		.hero-text {
			font-size: 6vw;
			animation: fadeIn 1.5s 1s both;
		}

	}

	.darken-bg {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		background-color: rgba(0,0,0,0.25);
	}

	.hero-text {
		font-size: 3.5vw;
		position: absolute;
		top: 34%;
		text-align: center;
		font-weight: 500;
		letter-spacing: 2px;
		text-shadow: 2px 2px rgba(126, 126, 126, 0.2);
		line-height: 1.2;
		-webkit-animation: focus-in-expand-fwd 1.5s 1s both;
	    animation: focus-in-expand-fwd 1.5s 1s both;
	}

	.join-btn {
		color: white;
		background-color: $ifit-blue;
		font-size: 14px;
		letter-spacing: 1px;
		text-align: center;
		border-radius: 4px;
		padding: 1% 8%;
		position: absolute;
		top: 67%;
		cursor: pointer;
		border: none;
		animation: fadeIn 2s 2.5s both;
		-webkit-animation: fadeIn 2s 2.5s both;

		&:hover {
			transform: scale(1.2);
		}
	}
}


.reviews-container-old {
	background-color: #F4F5F7;
	padding: 12px 0;
	width: 188%;
	position: relative;
	left: -28.25%;
	align-items: center;
	border: 1px solid rgba(244,245,247,0.32);
	box-shadow: 0 2px 2px 0 rgba(46,49,52,0.30);

	&.full-screen {
		width: 100%;
		left: 0;
		padding: 10px;
		box-sizing: border-box;

		.arrow-icon.right {
			right: 2%
		}

		.arrow-icon.left {
			left: 2%
		}
	}

	.sliding-container {
		display: flex;
	}

	.arrow-icon {
		position: absolute;
		opacity: 0.8;
		background: #000C28;
		border: 1px solid rgba(244,245,247,0.32);
		box-shadow: 0 7px 12px 0 rgba(46,49,52,0.30);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		top: 50%;
		transform: translateY(-50%);

		&.right {
			right: 32.5%;
		}

		&.left {
			left: 15.5%;
		}

		img {
			width: 9px;
		}
	}
}

.reviews-container {
	background-color: #F4F5F7;
	width: 100%;
	border: 1px solid rgba(244,245,247,0.32);
	box-shadow: 0 2px 2px 0 rgba(46,49,52,0.30);
	display: flex;
	align-items: center;
	position: relative;
	height: 178px;

	.arrow-icon {
		position: absolute;
		opacity: 0.8;
		background: #000C28;
		border: 1px solid rgba(244,245,247,0.32);
		box-shadow: 0 7px 12px 0 rgba(46,49,52,0.30);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 35px;
		height: 35px;

		&.right {
			right: 2%;
		}

		&.left {
			left: 2%;
		}

		img {
			width: 9px;
		}
	}
}

.review-card {
	background-color: white;
	// min-width: 200px;
	padding: 20px 36px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	color: $font-gray;
	align-items: center;
	font-size: 0.8em;
	height: 154px;
	border: 1px solid rgba(244,245,247,.32);
	box-shadow: 0 1px 2px 0 rgba(46,49,52,.4);
	box-sizing: border-box;
	position: absolute;
	margin: 0 1%;
	left: calc(-60%);

	.review-logo {
		max-height: 34px;
		margin-bottom: 8%;
	}

	.review-text {
		width: 100%;
	}
}

.review-card-old {
	flex: 1;
	background-color: white;
	min-width: 200px;
	margin: 8px 10px;
	padding: 20px 36px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	color: $font-gray;
	align-items: center;
	font-size: 0.8em;
	height: 110px;
	border: 1px solid rgba(244,245,247,.32);
	box-shadow: 0 1px 2px 0 rgba(46,49,52,.4);

	.review-logo {
		max-height: 34px;
		margin-bottom: 8%;
	}

	.review-text {
		width: 100%;
	}
}

.activities-section {
	width: 100%;

	ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-column-gap: 30px;
		grid-row-gap: 40px;
		padding: 3% 10%;

		li {
			box-shadow: 0 2px 2px 0 rgba(46,49,52,0.30);
			border-radius: 4px;
			overflow: hidden;
			position: relative;
			cursor: pointer;

			&:hover {
				box-shadow: 0 7px 12px 0 rgba(46,49,52,0.30);
				transform: scale(1.1);

				.details {
					opacity: 1;
					visibility: visible;
				}
			}

			.details {
				opacity: 0;
				visibility: hidden;
				color: $ifit-blue;
				position: absolute;
				bottom: 15px;
				left: 15px;
				font-size: 16px;
			}

			.img-wrap {
				position: relative;

				.workout-overlay {
					position: absolute;
					background-color: rgba(0,0,0,0.75);
					right: 0;
					top: 0;
					bottom: 0;
					width: 40%;
					color: white;
					display: flex;
					flex-direction: column;
					align-items: center;
					padding: 10% 0;
					font-size: 14px;
					
					.workout-number {
						font-size: 26px;
						font-weight: 500;
						display: block;
						margin-bottom: 0.6rem;
					}

					img {
						width: 25px;
						background-color: transparent;
						margin-top: 1.2rem;
					}
				}
			}

			img {
				width: 100%;
				background-color: $light-gray;
				display: block;
			}

			.description-wrap {
				padding: 15px;
				color: $dark-gray;
				font-size: 18px;
				font-weight: 700;
				min-height: 7rem;

				img.instructor-img {
					float: right;
					width: 15%;
					border-radius: 4px;
					margin-left: 5px;
				}

				img.metrics-icon {
					width: 6%;
					background-color: white;
					margin: 5px;

					&:first-child {
						margin-left: 0;
					}
				}

				.stats-container {
					display: flex;
					align-items: center;
					font-size: 14px;
					margin-top: 8px;
				}
			}
		}
	}

	
}

.default {
	opacity: 1;
}

.fade-in {
	animation: fadeIn 3s 2.5s both;
}

.equipment-section {
	.equipment-question {
		text-align: center;
		color: $font-gray;
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 20px;
	}

	ul {
		list-style: none;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-gap: 1rem;
		margin: 0 25px;
		padding: 0;

		li {
			border: 1px solid $light-gray;
			display: flex;
			justify-content: center;
			font-size: 18px;
			font-weight: 600;
			color: gray;
			text-transform: capitalize;
			flex-direction: column;
			align-items: center;
			padding: 30px 0 15px;
			// animation: fadeIn 1.5s 1s both;

			img {
				display: block;
				width: 220px;
				height: 250px;
				object-fit: contain;
				margin-bottom: 15px
			}
		}
	}
}

.footer {
	background-color: $dark-gray;
	color: $light-gray;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&.phone-size {
		.menu-container {
			width: 90%;
		}

		.bottom-bar ul {
			font-size: 10px;
			width: 190px;
		}
	}

	.menu-container {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		width: 450px;

		ul {
			padding: 0;
		}

		li {
			padding: 5px 0;
			cursor: pointer;

			&:first-child {
				font-weight: 800;
				cursor: default;
			}
		}
	}


	.social-container {
		border: 1px solid #585A5D;
		border-right: none;
		border-left: none;
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 10px 0;

		.outer-gradient {
			margin: 2px 12px;
			background-image: linear-gradient(135deg, #0069D2 0%, #28E1A5 100%);
			width: 40px;
			height: 40px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			.inner {
				background-color: $dark-gray; 
				width: 36px;
				height: 36px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					width: 20px;
					height: 20px;
					object-fit: contain;
				}
			}
		}
	}

	.bottom-bar {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		width: 100%;

		ul {
			padding: 0;
			width: 410px;
			display: flex;
			font-size: 14px;
			justify-content: space-around;
		}

		.language-menu {
			position: absolute;
			left: 5px;
			background-color: $dark-gray;
			color: $light-gray;
			font-weight: 600;
			font-size: 17px;
			outline: none;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}




