body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}

.ifit-page {
  min-width: 320px;
  overflow: hidden;
}

.header-fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header-none {
  display: none;
}

.top-nav-bar {
  display: flex;
  border-bottom: 1px solid #D5D6D6;
  background-color: white;
}
.top-nav-bar .item {
  padding: 12px 25px;
  border-right: 1px solid #D5D6D6;
  letter-spacing: 1px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(46, 49, 52, 0.8);
  text-transform: uppercase;
  cursor: pointer;
}

.main-nav-bar {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  min-width: 760px;
  background-color: white;
}
.main-nav-bar .absolute {
  position: absolute;
}
.main-nav-bar .ifit-brand-wrap {
  left: 25px;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-nav-bar .ifit-brand-wrap .brand-logo {
  width: 80%;
}
.main-nav-bar .main-nav-wrap {
  display: flex;
  color: rgba(46, 49, 52, 0.8);
}
.main-nav-bar .main-nav-wrap .item {
  text-transform: uppercase;
  padding: 0 20px;
  cursor: pointer;
  letter-spacing: 1px;
}
.main-nav-bar .sign-up-btn {
  padding: 8px 12px;
  right: 25px;
  text-transform: uppercase;
  background-color: #0069D2;
  border-radius: 4px;
  color: white;
  letter-spacing: 0.5px;
  box-shadow: 0 1px 2px 0 rgba(46, 49, 52, 0.4);
  line-height: 16px;
  border: none;
}

.compact-nav-bar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  position: relative;
}
.compact-nav-bar img {
  width: 150px;
  margin-right: 25%;
}
.compact-nav-bar .menu-btn {
  font-size: 16px;
  color: rgba(46, 49, 52, 0.8);
}
.compact-nav-bar .menu {
  position: absolute;
  top: 100%;
  background-color: white;
  width: 100%;
  left: 0;
  padding: 10px 0 20px;
  box-shadow: 2px 0 5px rgba(46, 49, 52, 0.12);
}
.compact-nav-bar .menu ul {
  list-style: none;
}
.compact-nav-bar .menu ul a {
  text-transform: uppercase;
  padding: 10px 0;
  color: rgba(46, 49, 52, 0.8);
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  border-bottom: 1px solid rgba(46, 49, 52, 0.12);
  display: block;
  text-decoration: none;
}
.compact-nav-bar .menu ul hr {
  border-top: 1px solid rgba(46, 49, 52, 0.12);
  margin: 48px 0 23px;
}
.compact-nav-bar .menu ul .sign-up-btn {
  padding: 8px 12px;
  font-size: 0.875rem;
  letter-spacing: 0.07em;
  margin-top: 20px;
  text-transform: uppercase;
  background-color: #0069D2;
  border-radius: 4px;
  color: white;
  border: none;
}

.hero-section {
  background: #A59D92 url("img/hero-image.png") no-repeat;
  background-size: 100%;
  background-position: center 16%;
  width: 100%;
  padding-bottom: 46%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
.hero-section.margin90 {
  margin-top: 90px;
}
.hero-section.margin50 {
  margin-top: 50px;
}
.hero-section.taller {
  padding-bottom: 100%;
  background-size: cover;
}
.hero-section.taller .hero-text {
  font-size: 6vw;
  animation: fadeIn 1.5s 1s both;
}
.hero-section .darken-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.hero-section .hero-text {
  font-size: 3.5vw;
  position: absolute;
  top: 34%;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 2px 2px rgba(126, 126, 126, 0.2);
  line-height: 1.2;
  -webkit-animation: focus-in-expand-fwd 1.5s 1s both;
  animation: focus-in-expand-fwd 1.5s 1s both;
}
.hero-section .join-btn {
  color: white;
  background-color: #0069D2;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 4px;
  padding: 1% 8%;
  position: absolute;
  top: 67%;
  cursor: pointer;
  border: none;
  animation: fadeIn 2s 2.5s both;
  -webkit-animation: fadeIn 2s 2.5s both;
}
.hero-section .join-btn:hover {
  transform: scale(1.2);
}

.reviews-container {
  background-color: #F4F5F7;
  padding: 12px 0;
  width: 188%;
  position: relative;
  left: -28.25%;
  align-items: center;
  border: 1px solid rgba(244, 245, 247, 0.32);
  box-shadow: 0 2px 2px 0 rgba(46, 49, 52, 0.3);
}
.reviews-container.full-screen {
  width: 100%;
  left: 0;
  padding: 10px;
  box-sizing: border-box;
}
.reviews-container.full-screen .arrow-icon.right {
  right: 2%;
}
.reviews-container.full-screen .arrow-icon.left {
  left: 2%;
}
.reviews-container .sliding-container {
  display: flex;
}
.reviews-container .arrow-icon {
  position: absolute;
  opacity: 0.8;
  background: #000C28;
  border: 1px solid rgba(244, 245, 247, 0.32);
  box-shadow: 0 7px 12px 0 rgba(46, 49, 52, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  top: 50%;
  transform: translateY(-50%);
}
.reviews-container .arrow-icon.right {
  right: 32.5%;
}
.reviews-container .arrow-icon.left {
  left: 15.5%;
}
.reviews-container .arrow-icon img {
  width: 9px;
}

.review-card {
  flex: 1;
  background-color: white;
  min-width: 200px;
  margin: 8px 10px;
  padding: 20px 36px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  color: rgba(46, 49, 52, 0.8);
  align-items: center;
  font-size: 0.8em;
  height: 110px;
  border: 1px solid rgba(244, 245, 247, 0.32);
  box-shadow: 0 1px 2px 0 rgba(46, 49, 52, 0.4);
}
.review-card .review-logo {
  max-height: 34px;
  margin-bottom: 8%;
}
.review-card .review-text {
  width: 100%;
}

.activities-section {
  width: 100%;
}
.activities-section ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  padding: 3% 10%;
}
.activities-section ul li {
  box-shadow: 0 2px 2px 0 rgba(46, 49, 52, 0.3);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.activities-section ul li:hover {
  box-shadow: 0 7px 12px 0 rgba(46, 49, 52, 0.3);
  transform: scale(1.1);
}
.activities-section ul li:hover .details {
  opacity: 1;
  visibility: visible;
}
.activities-section ul li .details {
  opacity: 0;
  visibility: hidden;
  color: #0069D2;
  position: absolute;
  bottom: 15px;
  left: 15px;
  font-size: 16px;
}
.activities-section ul li .img-wrap {
  position: relative;
}
.activities-section ul li .img-wrap .workout-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  right: 0;
  top: 0;
  bottom: 0;
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
  font-size: 14px;
}
.activities-section ul li .img-wrap .workout-overlay .workout-number {
  font-size: 26px;
  font-weight: 500;
  display: block;
  margin-bottom: 0.6rem;
}
.activities-section ul li .img-wrap .workout-overlay img {
  width: 25px;
  background-color: transparent;
  margin-top: 1.2rem;
}
.activities-section ul li img {
  width: 100%;
  background-color: #D5D6D6;
  display: block;
}
.activities-section ul li .description-wrap {
  padding: 15px;
  color: #2E3134;
  font-size: 18px;
  font-weight: 700;
  min-height: 7rem;
}
.activities-section ul li .description-wrap img.instructor-img {
  float: right;
  width: 15%;
  border-radius: 4px;
  margin-left: 5px;
}
.activities-section ul li .description-wrap img.metrics-icon {
  width: 6%;
  background-color: white;
  margin: 5px;
}
.activities-section ul li .description-wrap img.metrics-icon:first-child {
  margin-left: 0;
}
.activities-section ul li .description-wrap .stats-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 8px;
}

.hidden {
  opacity: 0;
}

.fade-in {
  animation: fadeIn 1.5s 2.5s both;
}

.equipment-section .equipment-question {
  text-align: center;
  color: rgba(46, 49, 52, 0.8);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.equipment-section ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;
  margin: 0 25px;
  padding: 0;
}
.equipment-section ul li {
  border: 1px solid #D5D6D6;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: gray;
  text-transform: capitalize;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 15px;
}
.equipment-section ul li img {
  display: block;
  width: 220px;
  height: 250px;
  object-fit: contain;
  margin-bottom: 15px;
}

.footer {
  background-color: #2E3134;
  color: #D5D6D6;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer.phone-size .menu-container {
  width: 90%;
}
.footer.phone-size .bottom-bar ul {
  font-size: 10px;
  width: 190px;
}
.footer .menu-container {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  width: 450px;
}
.footer .menu-container ul {
  padding: 0;
}
.footer .menu-container li {
  padding: 5px 0;
  cursor: pointer;
}
.footer .menu-container li:first-child {
  font-weight: 600;
  cursor: none;
}
.footer .social-container {
  border: 1px solid #585A5D;
  border-right: none;
  border-left: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
}
.footer .social-container .outer-gradient {
  margin: 2px 12px;
  background-image: linear-gradient(135deg, #0069D2 0%, #28E1A5 100%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer .social-container .outer-gradient .inner {
  background-color: #2E3134;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-container .outer-gradient .inner img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.footer .bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
.footer .bottom-bar ul {
  padding: 0;
  width: 410px;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
}
.footer .bottom-bar .language-menu {
  position: absolute;
  left: 5px;
  background-color: #2E3134;
  color: #D5D6D6;
  font-weight: 600;
  font-size: 17px;
  outline: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
    transform: translateZ(-800px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
